<launch>
	<include file="$(find md)/launch/md.launch">
	</include>
	<!-- <include file="$(find fw_ahrs)/launch/fw_imu.launch">
	</include> -->
	<include file="$(find rplidar_ros)/launch/fw_rp_s2.launch">
	</include>
	<!-- <include file="$(find ydlidar)/launch/fw_yd.launch">
	</include> -->
	<!-- <include file="$(find rplidar_ros)/launch/fw_rp_a1.launch">
	</include>
	<include file="$(find ira_laser_tools)/launch/laserscan_multi_merger.launch">
	</include> -->
	<!--include file="$(find realsense2_camera)/launch/rs_camera.launch"-->
	<!--/include-->

	<include file="$(find fw_rev_04_init)/launch/fw_remote.launch">
	</include>
</launch>
